* {
    margin: 0;
    padding: 0;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


/* src: url(../fonts/Font-Name/Font-Name.woff) format("woff"), url(../fonts/Font-Name/Font-Name.woff2) format("woff2"), url(../fonts/Font-Name/Font-Name.ttf) format("ttf"), url(../fonts/Font-Name/Font-Name.svg) format("svg"), url(../fonts/Font-Name/Font-Name.otf) format("otf"), url(../fonts/Font-Name/Font-Name.eot) format("eot"); */

@font-face {
    font-family: 'Nightmare Codehack';
    src: url(../fonts/Nightmare-Codehack/Nightmare-Codehack.woff) format("woff"), url(../fonts/Nightmare-Codehack/Nightmare-Codehack.woff2) format("woff2"), url(../fonts/Nightmare-Codehack/Nightmare-Codehack.ttf) format("ttf"), url(../fonts/Nightmare-Codehack/Nightmare-Codehack.svg) format("svg"), url(../fonts/Nightmare-Codehack/Nightmare-Codehack.otf) format("otf"), url(../fonts/Nightmare-Codehack/Nightmare-Codehack.eot) format("eot");
}

@font-face {
    font-family: 'Trench Thin';
    src: url(../fonts/Trench-Thin/Trench-Thin.woff) format("woff"), url(../fonts/Trench-Thin/Trench-Thin.woff2) format("woff2"), url(../fonts/Trench-Thin/Trench-Thin.ttf) format("ttf"), url(../fonts/Trench-Thin/Trench-Thin.svg) format("svg"), url(../fonts/Trench-Thin/Trench-Thin.otf) format("otf"), url(../fonts/Trench-Thin/Trench-Thin.eot) format("eot");
}

@font-face {
    font-family: 'Time Burner';
    src: url(../fonts/Time-Burner/Time-Burner.woff) format("woff"), url(../fonts/Time-Burner/Time-Burner.woff2) format("woff2"), url(../fonts/Time-Burner/Time-Burner.ttf) format("ttf"), url(../fonts/Time-Burner/Time-Burner.svg) format("svg"), url(../fonts/Time-Burner/Time-Burner.otf) format("otf"), url(../fonts/Time-Burner/Time-Burner.eot) format("eot");
}

@font-face {
    font-family: 'Hacked';
    src: url(../fonts/Hacked/Hacked.woff) format("woff"), url(../fonts/Hacked/Hacked.woff2) format("woff2"), url(../fonts/Hacked/Hacked.ttf) format("ttf"), url(../fonts/Hacked/Hacked.svg) format("svg"), url(../fonts/Hacked/Hacked.otf) format("otf"), url(../fonts/Hacked/Hacked.eot) format("eot");
}

@font-face {
    font-family: 'Digital Tech';
    src: url(../fonts/Digital-Tech/Digital-Tech.woff) format("woff"), url(../fonts/Digital-Tech/Digital-Tech.woff2) format("woff2"), url(../fonts/Digital-Tech/Digital-Tech.ttf) format("ttf"), url(../fonts/Digital-Tech/Digital-Tech.svg) format("svg"), url(../fonts/Digital-Tech/Digital-Tech.otf) format("otf"), url(../fonts/Digital-Tech/Digital-Tech.eot) format("eot");
}

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    color: white;
    font-family: 'Digital Tech', 'Lato';
    text-align: center;
}

h2 {
    color: red;
    font-family: 'Nightmare Codehack';
    text-align: center;
    padding-top: 5%;
    margin-bottom: 5%;
    font-size: 500%;
}

h2:after {
    display: block;
    height: 3px;
    background-color: #555555;
    content: " ";
    width: 20vw;
    margin: 0 auto;
    margin-top: 4vh;
}

p {
    text-align: center;
    font-family: 'Time Burner';
    padding-left: 15%;
    padding-right: 15%;
    font-size: 120%;
}


/*Header*/

#brand-logo {
    background-color: #222244;
    border-radius: 100%;
    padding: 10%;
    padding-left: 20%;
    padding-right: 20%;
}

.nav-link {
    font-family: 'Hacked';
    font-size: 120%;
}

.fixed-top {
    background-color: rgba(0, 0, 0, 0.7);
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url(../imgs/header-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}

.center-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

#header-img {
    width: 12%;
    min-width: 150px;
    height: auto;
    border-radius: 50%;
    margin-top: -10vh;
    transition: 2s border-radius;
}

#header-img:hover {
    border-radius: 20%;
}

#header-text {
    margin-top: 35vh;
    color: white;
    width: 100%;
    text-align: center;
}

#social-contacts {
    height: 20vh;
    width: 100%;
    text-align: center;
}

.social-image {
    width: 10vh;
}


/* About me */

#about-me {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), black, black), url(../imgs/header-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #00ff00;
    padding-bottom: 500vh;
}