* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    color: white;
    font-family: 'Lato', 'Arial', sans-serif;
    text-align: center;
}

h2 {
    color: red;
    font-family: 'Sofia';
    text-align: center;
    padding-top: 5%;
    margin-bottom: 5%;
}

h2:after {
    display: block;
    height: 3px;
    background-color: #555555;
    content: " ";
    width: 20vw;
    margin: 0 auto;
    margin-top: 4vh;
}


/*Header*/

nav {
    background-color: rgba(0, 0, 0, 0.7);
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url(../imgs/header-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}

.center-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

#header-img {
    width: 12%;
    min-width: 150px;
    height: auto;
    border-radius: 50%;
    margin-top: -3vh;
    transition: 2s border-radius;
}

#header-img:hover {
    border-radius: 20%;
}

#header-text {
    margin-top: 35vh;
    color: white;
    width: 100%;
    text-align: center;
}

#social-contacts {
    height: 20vh;
    width: 100%;
    text-align: center;
}

.social-image {
    width: 10vh;
}


/* About me */

#about-me {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), black, black), url(../imgs/header-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #00ff00;
    padding-bottom: 50vh;
}

#about-me-txt {
    text-align: center;
}